html {
    background-color: #333;
}

body {
    text-align: center;
    font-family: Verdana;
    color: #efefef;
  }

  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  svg {
    display: block;
    margin: 20px auto;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
    margin-bottom: 10px;
  }

  a {
    color: #BE5B04ff;
  }

  a:hover {
    color: #F7F4F1ff;
  }

  .tooltip {
    background: #BE5B04ff;
    color: #efefef;
    min-width: 200px;
    height: 40px;
    padding: 10px 20px;
    position: absolute;
    display: flex;
    align-items: center;
  }